@import "../vars.css";

.footer {
  background: var(--light-black);
  color: white;
  margin-top: 142px;
  padding-inline: 165px;
  padding-block: 84px 92px;
}

.mainFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 92px;
}

@media (max-width: 1200px) {
  .footer {
    margin-top: 100px;
    padding-inline: 30px;
    padding-block: 60px 40px;
  }

  .mainFooter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 48px;
  }
}

.mainFooter::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--light-grey);
}

.mainFooter div:nth-child(1) {
  width: 445px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.mainFooter div h2 {
  font-size: 88px;
  font-weight: 700;
  letter-spacing: -2.5px;
}

.mainFooter div p {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.secondFooter {
  margin-top: 47px;
}

.secondFooter nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.secondFooter nav ul {
  display: flex;
  gap: 32px;
  list-style-type: none;
}
