@import "../vars.css";

.section {
  margin-top: 219px;
  color: white;
  position: relative;
  padding-inline: 165px;
}

.section::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: var(--white);
}

.section ul {
  padding-top: 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  grid-row-gap: 58px;
}

.section ul li {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

li h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1.5px;
  font-weight: 700;
}

li p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

.section img {
  position: absolute;
  right: -404px;
  top: 253px;
  opacity: 25%;
}

@media (max-width: 1024px) {
  .section {
    margin-top: 60px;
    padding-inline: 30px;
  }

  .section ul {
    padding-top: 52px;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    grid-row-gap: 52px;
  }
}
